<main>
    <div class="container">
        <div class="row">
            
       <div class="col-6 offset-3">
        <form>
            <input type="text"    placeholder="Nome do produto">
            <input type="number"  placeholder="Preço do produto">
            <input type="file"   > 
            <input type="submit" class="btn btn-primary" value="Enviar">

        
        
        </form>
       </div>
       </div>

    </div>
</main>